
# cutlet

In [1]:
#importing libraries
import pandas as pd
import numpy as np

In [2]:
#reading the data
cutlets=pd.read_csv("Cutlets.csv")
cutlets.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

### H0 - There is no significant difference in the diamaters of unit A and unit B(Null hypothesis) (diameteres of the cutlets are same)
### H1 - There is a significant difference in the diamaters of unit A and unit B(Alternative Hypothesis) (diameteres of the cutlets are not same)

In [3]:
unit_a=pd.Series(cutlets["Unit A"])
unit_b=pd.Series(cutlets["Unit B"])

In [4]:
import scipy
from scipy import stats

In [5]:
stats.ttest_ind(unit_a,unit_b)

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

### pvalue = 0.47>0.05. So, we accept H0. There is no significant difference in the diamaters of unit A and unit B (diameteres of the cutlets are same)

# LABTAT

In [6]:
#reading the data
labtat=pd.read_csv("labTAT.csv")
labtat.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

### H0 - There is no difference in average of TAT (Null hypothesis)
### H1 - There is a difference in average of TAT(Alternate hypothesis)

In [7]:
stats.f_oneway(labtat["Laboratory 1"],labtat["Laboratory 2"],labtat["Laboratory 3"],labtat["Laboratory 4"])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

### p value = 0.0000002211<0.05. so, we reject H0. Accepting H1. So,there is a difference in average of TAT

### Buyer Ratio

In [8]:
#reading the data 
data=pd.read_csv("BuyerRatio.csv")
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

### H0 -  male-female buyer ratio is equal (Null hypothesis)
### H1 - male-female buyer ratio is not equal(Alternate hypothesis)

In [9]:
data.shape

(2, 5)

In [10]:
from scipy.stats import chi2_contingency

In [11]:
male=[50,142,131,70]
female=[435,1523,1356,750]

In [12]:
temp=(male,female)

In [13]:
stats.chi2_contingency(temp)[0]

1.595945538661058

In [14]:
stats.chi2_contingency(temp)[1]

0.6603094907091882

In [15]:
stats.chi2_contingency(temp)[2]

3

In [16]:
stats.chi2_contingency(temp)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

### p value is 0.66>0.05. so, we accept H0. Male-Female buyer ratio are similar

# Order form

### H0- % of defective are  not varies by centre(Null Hypothesis)
 ### H1- % of defective are varies by centre(Alternate Hypothesis)

In [23]:
#reading the data
order_form=pd.read_csv("Costomer+OrderForm.csv")
order_form.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
#label encoding the data
label=LabelEncoder()
order_form["Phillippines"]=label.fit_transform(order_form["Phillippines"])
order_form["Indonesia"]=label.fit_transform(order_form["Indonesia"])
order_form["Malta"]=label.fit_transform(order_form["Malta"])
order_form["India"]=label.fit_transform(order_form["India"])
order_form.head()

   Phillippines  Indonesia  Malta  India
0             1          1      0      1
1             1          1      1      0
2             1          0      0      1
3             1          1      1      1
4             1          1      0      1

In [26]:

stats.f_oneway(order_form["Phillippines"],order_form["Indonesia"],order_form["Malta"],order_form["India"])

F_onewayResult(statistic=1.286168556089167, pvalue=0.2776780955705948)

### here,pvalue =0.277>0.05 , Accepting Null Hypothesis. percentage of defectives are not varied by centre